body {

}

nav { 
    position: fixed;
    padding-left: 3%;
    top: 0;
    background-color: black;
    width: 100%; 
  
}

nav ul li {
    text-align: center;
    display: inline;
    padding: 20px;
    color: white; 
    
}
